:host {
    .job-list-container {
        margin: 5px;

        .button-container {
            position: sticky;
            top: 75px;
            z-index: 98;
            background: white;
            padding: 10px 0px 25px 0px;
        }

        table {
            .header-row {
                position: sticky;
                top: 135px;
            }

            .application-row {
                &:nth-child(even) {
                    background: lightgray;
                }

                &:hover {
                    background: lightblue;
                    cursor: pointer;
                }
            }

            .not-interested {
                background: red;
            }

            .interview-scheduled {
                background: green;
            }
        }
    }
}