<div class="dashboard-container">
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="5px">
        
        <mat-grid-tile cols="1">
            <mat-grid-tile-header>Total Applications</mat-grid-tile-header>
            <div class="tile-content">
                <p>{{ applications.length | number }}</p>
            </div>
        </mat-grid-tile>

        <mat-grid-tile cols="1">
            <mat-grid-tile-header>Total Applications Waiting On Me</mat-grid-tile-header>
            <div class="tile-content">
                <p>{{ waitingOnMe.length | number }}</p>
            </div>
        </mat-grid-tile>

        <mat-grid-tile cols="1">
            <mat-grid-tile-header>Total Interviews Scheduled</mat-grid-tile-header>
            <div class="tile-content">
                <p>{{ interviewsScheduled.length | number }}</p>
            </div>
        </mat-grid-tile>

        <mat-grid-tile cols="1">
            <mat-grid-tile-header>Total Contacts Back</mat-grid-tile-header>
            <div class="tile-content">
                <p>{{ contactedBack.length | number }}</p>
            </div>
        </mat-grid-tile>

        <!-- Second Row -->

        <mat-grid-tile colspan="2">
            <mat-grid-tile-header>Scheduled Interviews</mat-grid-tile-header>
            <div class="table-content">
                <table>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Job Title</th>
                            <th>Date Applied</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="scheduled-row" *ngFor="let app of interviewsScheduled" (click)="navToApplicationDetail(app)">
                            <td>{{ app.company }}</td>
                            <td>{{ app.job_title }}</td>
                            <td>{{ app.date_applied | date: "YYYY-MM-dd" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="2">
            <mat-grid-tile-header>Waiting On Me</mat-grid-tile-header>
            <div class="table-content">
                <table>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Job Title</th>
                            <th>Date Applied</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="scheduled-row" *ngFor="let app of waitingOnMe" (click)="navToApplicationDetail(app)">
                            <td>{{ app.company }}</td>
                            <td>{{ app.job_title }}</td>
                            <td>{{ app.date_applied | date: "YYYY-MM-dd" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>